.navbar.transparent.navbar-inverse{
	margin-top: 15px;
	position: fixed;
	z-index: 9999;
	padding: 10px;
	font-size: 16px;
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}
.nav.navbar-nav li a{
	color: white;
}
.nav.navbar-nav a:hover{
	border-top: 2px solid white;
}
.dropdown li a{
	background-color: rgba(0,0,0,0.0);
}

.dropdown li a:hover{
	background-color: rgba(0,0,0,0.0);
	border: none;
}

.dropdown-menu {
	background-color: rgba(0,0,0,0.0);
}
.container {
	padding-left: 0px;
	padding-right: 0px;
	position: relative;
	text-align: center;
}
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}
