.individual_order_heading {
  margin: 0 auto;
  display: inline-block;
  width: 100%;
  background-color: #fafafa;
}
.order-button:hover {
	background-color: rgba(0,0,0,0.15);
}

.order-button:active {
	background-color: #fafafa;
}

.order-button {
	background-color: transparent;
	color: #656565; 
	float: left; 
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 5px;
	border: transparent; 
	margin-right: 2px;
}
.shipButton {
	margin-top: 10px;
	color: white;
	background-color: #285fdb;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: none;
	border-radius: 6px;
	margin-bottom: 10px;
}
.cancelButton {
	margin-top: 10px;
	color: white;
	background-color: #dd4b39;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: none;
	border-radius: 6px;
}
.placeButton {
	margin-top: 10px;
	border: solid 1px #ccc;
	padding-left: 10px;
	padding-right: 10px;
	background-color: rgba(0,0,0,0.07);
}
.placeButton:focus {
	color: white;
	background-color: #285fdb;
	border: solid 1px blue;
}
.addOrderButton{
	border-radius: 6px;
	background-color: rgba(0,0,0,0.15);
	border: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
.otherProcessingButtons{
	border: none;
	color: white;
	background-color: #555;
	border-radius: 6px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 10px;
}
.readytoshipbuttons {
	border-radius: 6px;
	border: none;
	color: white;
	background-color: #285fdb;
	margin-top: 10px;
	padding-left: 28px;
	padding-right: 28px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.pickupbuttons {
	border-radius: 6px;
	border: none;
	color: white;
	background-color: #285fdb;
	margin-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.page_number_list {
	float: left;
	margin-left: 5px;
	padding: 5px 10px 5px 10px;
	border-radius: 3px;
	border: none;
	background-color: #285fdb;
	color: white;
	font-size: 13px;
}

.page_number_list:active {
	background-color: #fafafa;
}
.main-footer {
	padding: 27px;
}
.footer {
	left: 15;
	float: left;
	position: fixed;
   	bottom: 0;
   	width: 100%;
   	background-color: #fff;
   	border-top: 1px solid #d2d6de;
}

.overlay {
  z-index: 3001;
  position: relative;
  top: 81px;
  bottom: 0;
  left: 115px;
  right: 0;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  background: #fff;
  border-radius: 5px;
  width: 26%;
  position: absolute;
  transition: all 5s ease-in-out;
}
.popup:after {
  content: '';
  position: absolute;
  bottom: 99%;
  left: 9%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 20px;
  border-color: transparent transparent white transparent;
}
.overlay:target .popup {
  animation: popup 0.7s;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  overflow: auto;
}
@media screen and (max-width: 1100px) {
  .box {
    width: 10%;
  }
  .popup {
    width: 10%;
  }
}
@keyframes popup {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  60% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.date_range {
	text-align: left;
	width: 100%;
	font-size: 14px;
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    color: #08c;
    padding: 3px 12px;
    margin-bottom: 8px;
    cursor: pointer;
    float: left;
}

.date_range:hover {
	color: white;
	background: #08c;
}