.create-order-heading {
	padding: 20px;
	margin: 0 auto;
	display: inline-block;
	width: 98%;
	background-color: #fafafa;
}
.order-type {
	color: #656565;
	padding: 10px;
	background-color: white;
	border: 2px solid rgba(0,0,0,0.15);
}
.order-type:focus {
	color: #285fdb;
	border: 2px solid #285fdb;
}
input:focus {
	outline: none !important;
	box-shadow: 0 0 5px #285fdb;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup:after {
  content: '';
  position: absolute;
  bottom: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 20px;
  border-color: transparent transparent white transparent;
}
.overlay:target .popup {
  animation: popup 0.7s;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  overflow: auto;
}
@media screen and (max-width: 1100px) {
  .box {
    width: 90%;
  }
  .popup {
    width: 90%;
  }
}
@keyframes popup {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  60% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.button {
  background-color: #609;
  border: none;
  border-radius: 25px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 48px;
  margin-left: -237px;
}

.footer {
  left: 15;
  float: left;
  position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #d2d6de;
}

.page_number_list {
  float: left;
  margin-left: 5px;
  padding: 5px 10px 5px 10px;
  border-radius: 3px;
  border: none;
  background-color: #285fdb;
  color: white;
  font-size: 13px;
}

.page_number_list:active {
  background-color: #fafafa;
}

.order-button:hover {
  background-color: rgba(0,0,0,0.15);
}

.order-button:active {
  background-color: #fafafa;
}

.order-button {
  background-color: transparent;
  color: #656565; 
  float: left; 
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 5px;
  border: transparent; 
  margin-right: 2px;
}

.otherProcessingButtons{
  border: none;
  color: white;
  background-color: #555;
  border-radius: 6px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
}