
.individual-order-heading {
	padding: 20px;
	margin: 0 auto;
	display: inline-block;
	width: 100%;
	background-color: #fafafa;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}