.navbar.transparent.navbar-inverse{
	margin-top: 15px;
	position: fixed;
	z-index: 9999;
	padding: 10px;
	font-size: 16px;
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}
.nav.navbar-nav li a{
	color: white;
}
.nav.navbar-nav a:hover{
	border-top: 2px solid white;
}
.dropdown li a{
	background-color: rgba(0,0,0,0.0);
}

.dropdown li a:hover{
	background-color: rgba(0,0,0,0.0);
	border: none;
}

.dropdown-menu {
	background-color: rgba(0,0,0,0.0);
}
.container {
	padding-left: 0px;
	padding-right: 0px;
	position: relative;
	text-align: center;
}
.color-background{
	width: 100%;
	display: inline-block;
	max-width: 100%;
	background: #4b6cb7;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.welcome-div{
	background-color: white;
	width: 90%;
	margin: 0 auto;
	display: inline-block;
}
.left-text-holder{
	padding-left: 15px;
	padding-right: 15px;
	float: left;
	text-align: center;
	width: 50%;
	margin: 113px auto;
	display: inline-block;
}
.right-in-left {
	padding-left: 15px;
	padding-right: 30px;
	float: right;
	text-align: left;
	display: inline-block;
	width: 70%;
	margin: 0 auto;
}
.right-text-holder{
	padding-left: 15px;
	padding-right: 15px;
	float: right;
	text-align: center;
	width: 50%;
	margin: 113px auto;
	display: inline-block;
}
.left-in-right {
	padding-left: 30px;
	padding-right: 15px;
	float: left;
	text-align: left;
	display: inline-block;
	width: 50%;
	margin: 0 auto;
}
input[type="checkbox"]:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.button {
  border-radius: 25px;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
button:disabled, button[disabled] {
	background-color: #666666;
	cursor: not-allowed;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}